body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.clickField {
  stroke:#fff;
  fill:#fff;
  fill-opacity:0;
  stroke-opacity:0;
}

.numberText {
  font: italic 19px sans-serif;
  fill: black;
}